<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title>HTTP服务实时日志::帮助 - devtools</title>
    <link rel="stylesheet" href="/pure-min.css">
    <style>
        pre {
            white-space: normal;
            border: 1px solid #ddd;
        }

        code {
            color: #F00;
            white-space: pre;
            font-family: 'Fira Mono', consolas;
        }

        pre code {
            font-size: 100%;
            line-height: 18px;
            display: block;
            padding: 4px 12px;
            margin: 0;
            background-color: #FFFCF8;
            color: #4D4E53;
        }
    </style>
</head>

<body>
    <h3>HTTP服务实时日志 用法</h3>
    <ol>
        <li>假设 HTTP服务实时日志 服务地址是 <code>http://192.168.1.20:8000/http.log</code>.</li>
        <li>浏览器打开 <code>http://192.168.1.20:8000/http.log</code> 查看日志。</li>
        <li>在你的程序中，将日志数据发送到 <code>http://192.168.1.20:8000/http.log/log</code>. 此接口的文档见下方说明</li>
    </ol>
    <h4>log 的接口文档:</h4>
    <pre>
        <code>
请求方式：POST

请求参数：

```
{
	client:       // 客户端标识，                          字符串
	timeStamp:    // 时间戳，传UNIX TIMESTAMP 毫秒数，      整数
	method:       // 请求方式，比如 "POST", "GET"，         字符串
	url:          // 请求地址，                            字符串
	params:       // 请求参数，                            字符串
	statusCode:   // response status code, 比如 404, 200, 整数
	responseBody: // 返回内容，                            字符串
}
```

返回值："success"
        </code>
    </pre>
</body>

</html>
